
.box1{
    height : 180px;
    background-color: #40bad5;
    
}
h3{
    color: white;
}
h5{
    color: white;
}

.myButton {
	background-color:#0c699e;
	border-radius:28px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background-color:#07121c;
}
.myButton:active {
	position:relative;
	top:1px;
}
